In [1]:
import pandas as pd

In [2]:
arts = pd.read_csv("modern_arts.csv")

In [3]:
arts

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,(British),(1898),(1986),(Male),1968-1969,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,(Chilean),(1942),NaN,(Male),1975,Architecture & Design
16722,The Catboat,Edward Hopper,(American),(1882),(1967),(Male),1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,(),NaN,NaN,(),1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,(American),(1927),NaN,(Male),2011,Prints & Illustrated Books

In [4]:
arts.head()

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,(American),(1947),(2013),(Female),1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,(Spanish),(1916),(2007),(Male),1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,(French),(1870),(1943),(Male),1889-1911,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,(French),(1861),(1944),(Male),1927-1940,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,(French),(1857),(1927),(Male),1903,Photography

In [5]:
arts["Nationality"]

0        (American)
1         (Spanish)
2          (French)
3          (French)
4          (French)
            ...
16720     (British)
16721     (Chilean)
16722    (American)
16723            ()
16724    (American)
Name: Nationality, Length: 16725, dtype: object

In [6]:
arts["Nationality"]=arts["Nationality"].str.replace("(",'').str.replace(")",'')

C:\Users\KING\AppData\Local\Temp\ipykernel_13060\4215898370.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  arts["Nationality"]=arts["Nationality"].str.replace("(",'').str.replace(")",'')

In [7]:
arts["Nationality"]

0        American
1         Spanish
2          French
3          French
4          French
           ...
16720     British
16721     Chilean
16722    American
16723
16724    American
Name: Nationality, Length: 16725, dtype: object

In [8]:
arts["Nationality"].unique()

array(['American', 'Spanish', 'French', 'South African', 'Canadian',
       'Czech', 'Belgian', 'Russian', 'British', 'German', '', 'Swiss',
       'Polish', 'Japanese', 'Portuguese', 'Austrian', 'Australian',
       'Italian', 'Chilean', 'Colombian', 'Mexican', 'Brazilian', 'Dutch',
       'Romanian', 'Venezuelan', 'Korean', 'Israeli', 'Argentine',
       'Indian', 'Nationality unknown', 'Swedish', 'Yugoslav', 'Cuban',
       'Nationality Unknown', 'Various', 'Luxembourgish', 'Croatian',
       'Bulgarian', 'Hungarian', 'Georgian', 'Puerto Rican', 'Danish',
       'Serbian', 'Pakistani', 'Ecuadorian', 'Chinese', 'Iranian',
       'Finnish', 'Lebanese', 'Thai', 'Cambodian', 'Scottish', 'Kenyan',
       'Latvian', 'Sudanese', 'Uruguayan', 'Peruvian', 'New Zealander',
       'Moroccan', 'Guatemalan', 'Cameroonian', 'Egyptian', 'Nigerian',
       'Icelandic', 'Haitian', 'Tajik', 'Irish', 'Norwegian',
       'Costa Rican', 'Slovenian', 'Turkish', 'Mozambican', 'Palestinian',
       'Ukrainian', 'Angolan', 'Tunisian', 'Greek', 'Zimbabwean',
       'Bahamian', 'Vietnamese', 'Panamanian', 'Canadian Inuit', 'Malian',
       'Filipino'], dtype=object)

In [9]:
arts.loc[arts["Nationality"]=='','Nationality'] = 'Nationality Unknown'#Replaces '' with Nationality unknown

In [10]:
arts["Nationality"].unique()

array(['American', 'Spanish', 'French', 'South African', 'Canadian',
       'Czech', 'Belgian', 'Russian', 'British', 'German',
       'Nationality Unknown', 'Swiss', 'Polish', 'Japanese', 'Portuguese',
       'Austrian', 'Australian', 'Italian', 'Chilean', 'Colombian',
       'Mexican', 'Brazilian', 'Dutch', 'Romanian', 'Venezuelan',
       'Korean', 'Israeli', 'Argentine', 'Indian', 'Nationality unknown',
       'Swedish', 'Yugoslav', 'Cuban', 'Various', 'Luxembourgish',
       'Croatian', 'Bulgarian', 'Hungarian', 'Georgian', 'Puerto Rican',
       'Danish', 'Serbian', 'Pakistani', 'Ecuadorian', 'Chinese',
       'Iranian', 'Finnish', 'Lebanese', 'Thai', 'Cambodian', 'Scottish',
       'Kenyan', 'Latvian', 'Sudanese', 'Uruguayan', 'Peruvian',
       'New Zealander', 'Moroccan', 'Guatemalan', 'Cameroonian',
       'Egyptian', 'Nigerian', 'Icelandic', 'Haitian', 'Tajik', 'Irish',
       'Norwegian', 'Costa Rican', 'Slovenian', 'Turkish', 'Mozambican',
       'Palestinian', 'Ukrainian', 'Angolan', 'Tunisian', 'Greek',
       'Zimbabwean', 'Bahamian', 'Vietnamese', 'Panamanian',
       'Canadian Inuit', 'Malian', 'Filipino'], dtype=object)

In [11]:
arts["Gender"].unique()

array(['(Female)', '(Male)', '()', '(male)'], dtype=object)

In [12]:
arts["Gender"]=arts["Gender"].str.replace("(",'').str.replace(")",'')

C:\Users\KING\AppData\Local\Temp\ipykernel_13060\2244086574.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  arts["Gender"]=arts["Gender"].str.replace("(",'').str.replace(")",'')

In [13]:
arts.loc[arts["Gender"]=='',"Gender"] = "Gender Unknown"

In [14]:
arts["Gender"]

0                Female
1                  Male
2                  Male
3                  Male
4                  Male
              ...
16720              Male
16721              Male
16722              Male
16723    Gender Unknown
16724              Male
Name: Gender, Length: 16725, dtype: object

In [15]:
def clean_dates(date):
    bad_chr=['(',')','s','C','c',' ','.',"'"]
    if type(date)== float: #Check for "NaN" as it it float and returns it unchanged
        return date
    else:
        for i in bad_chr:
            date = date.replace(i,'')
        return date

In [16]:
arts.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16725 entries, 0 to 16724
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Title        16724 non-null  object
 1   Artist       16725 non-null  object
 2   Nationality  16725 non-null  object
 3   BeginDate    15786 non-null  object
 4   EndDate      10474 non-null  object
 5   Gender       16725 non-null  object
 6   Date         16725 non-null  object
 7   Department   16725 non-null  object
dtypes: object(8)
memory usage: 1.0+ MB

In [17]:
arts["EndDate"]=arts["EndDate"].apply(clean_dates)

In [18]:
arts["EndDate"].unique()

array(['2013', '2007', '1943', '1944', '1927', '1984', nan, '1953',
       '1985', '1957', '1972', '1965', '1959', '1969', '1958', '1987',
       '1976', '1947', '1941', '2006', '1998', '1978', '1828', '1988',
       '1983', '2008', '2011', '2010', '1956', '1908', '1996', '1991',
       '1981', '1982', '2014', '1901', '1997', '2004', '2016', '1960',
       '2000', '1913', '1970', '1904', '1955', '1951', '1992', '1933',
       '2012', '2002', '1974', '1989', '1962', '1938', '1948', '1952',
       '2003', '1930', '1928', '1934', '1966', '1979', '1961', '1994',
       '2018', '1954', '1942', '2017', '1993', '1920', '1949', '1896',
       '1935', '1921', '1946', '1995', '1986', '1925', '1999', '1971',
       '1884', '2009', '1940', '1977', '1964', '1975', '1916', '1963',
       '2005', '1973', '2001', '1919', '2015', '1980', '1898', '1931',
       '1967', '1950', '1968', '1870', '1990', '1918', '1902', '1907',
       '1882', '1945', '1936', '1894', '1887', '1917', '1914', '1883',
       '1926', '1869', '1871', '1909', '1939', '1872', '1932', '1903',
       '1911', '1910', '1879', '1924', '1923', '1868', '1880', '1900',
       '1891', '1937', '1856', '1851', '1915', '1875', '1863', '1922',
       '1906', '1886', '1895', '1867', '1878', '1877', '1890', '1929',
       '1885'], dtype=object)

In [19]:
def Clean_date_column(dates):
    dates=clean_dates(dates)
    if '-' in dates:
        lst =dates.split('-')
        yr1=int(lst[0])
        yr2=int(lst[1])
        dates=round((yr1+yr2)/2)
        return dates
    else:
        dates=int(dates)
        return dates

In [20]:
arts["Date"].unique()

array(['1986', '1978', '1889-1911', ..., '1936-1938', '(c. 1955-1959)',
       'c. 1919-1920'], dtype=object)

In [21]:
arts['Date']=arts['Date'].apply(Clean_date_column)

In [22]:
arts

,Title,Artist,Nationality,BeginDate,EndDate,Gender,Date,Department
0,Dress MacLeod from Tartan Sets,Sarah Charlesworth,American,(1947),2013,Female,1986,Prints & Illustrated Books
1,Duplicate of plate from folio 11 verso (supple...,Pablo Palazuelo,Spanish,(1916),2007,Male,1978,Prints & Illustrated Books
2,Tailpiece (page 55) from SAGESSE,Maurice Denis,French,(1870),1943,Male,1900,Prints & Illustrated Books
3,Headpiece (page 129) from LIVRET DE FOLASTRIES...,Aristide Maillol,French,(1861),1944,Male,1934,Prints & Illustrated Books
4,97 rue du Bac,Eugène Atget,French,(1857),1927,Male,1903,Photography
...,...,...,...,...,...,...,...,...
16720,Oval with Points,Henry Moore,British,(1898),1986,Male,1968,Painting & Sculpture
16721,"Cementerio de la Ciudad Abierta, Ritoque, Chile",Juan Baixas,Chilean,(1942),NaN,Male,1975,Architecture & Design
16722,The Catboat,Edward Hopper,American,(1882),1967,Male,1922,Prints & Illustrated Books
16723,Dognat' i peregnat' v tekhniko-ekonomicheskom ...,Unknown,Nationality Unknown,NaN,NaN,Gender Unknown,1931,Prints & Illustrated Books
16724,Plate (page 11) from The Dive,Alex Katz,American,(1927),NaN,Male,2011,Prints & Illustrated Books

In [24]:
arts.to_csv("Cleaned_Modern_arts.csv")