"Hacker News" refers to a website that prioritizes content and discussion. Users can comment on stories and engage in conversations with others, contributing their insights and expertise to the community. I will be working on their data to find out when is best time to get most of responses.

In [1]:
import pandas as pd

In [2]:
hacks = pd.read_csv("hacks.csv")

In [3]:
hacks

,id,title,url,num_points,num_comments,author,created_at
0,12224879,Interactive Dynamic Video,http://www.interactivedynamicvideo.com/,386,52,ne0phyte,8/4/2016 11:52
1,10975351,How to Use Open Source and Shut the Fuck Up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,1/26/2016 19:30
2,11964716,Florida DJs May Face Felony for April Fools' W...,http://www.thewire.com/entertainment/2013/04/f...,2,1,vezycash,6/23/2016 22:20
3,11919867,Technology ventures: From Idea to Enterprise,https://www.amazon.com/Technology-Ventures-Ent...,3,1,hswarna,6/17/2016 0:01
4,10301696,Note by Note: The Making of Steinway L1037 (2007),http://www.nytimes.com/2007/11/07/movies/07ste...,8,2,walterbell,9/30/2015 4:12
...,...,...,...,...,...,...,...
20095,12379592,How Purism Avoids Intels Active Management Tec...,https://puri.sm/philosophy/how-purism-avoids-i...,10,6,AdmiralAsshat,8/29/2016 2:22
20096,10339284,YC Application Translated and Broken Down,https://medium.com/@zreitano/the-yc-applicatio...,4,1,zreitano,10/6/2015 14:57
20097,10824382,Microkernels are slow and Elvis didn't do no d...,http://blog.darknedgy.net/technology/2016/01/0...,169,132,vezzy-fnord,1/2/2016 0:49
20098,10739875,How Product Hunt really works,https://medium.com/@benjiwheeler/how-product-h...,695,222,brw12,12/15/2015 19:32
20099,11680777,RoboBrowser: Your friendly neighborhood web sc...,https://github.com/jmcarp/robobrowser,182,58,pmoriarty,5/12/2016 1:43

In [4]:
hacks['title']

0                                Interactive Dynamic Video
1        How to Use Open Source and Shut the Fuck Up at...
2        Florida DJs May Face Felony for April Fools' W...
3             Technology ventures: From Idea to Enterprise
4        Note by Note: The Making of Steinway L1037 (2007)
                               ...
20095    How Purism Avoids Intels Active Management Tec...
20096            YC Application Translated and Broken Down
20097    Microkernels are slow and Elvis didn't do no d...
20098                        How Product Hunt really works
20099    RoboBrowser: Your friendly neighborhood web sc...
Name: title, Length: 20100, dtype: object

In [5]:
hacks['title'].head(69)

0                             Interactive Dynamic Video
1     How to Use Open Source and Shut the Fuck Up at...
2     Florida DJs May Face Felony for April Fools' W...
3          Technology ventures: From Idea to Enterprise
4     Note by Note: The Making of Steinway L1037 (2007)
                            ...
64    Bitcoin's mining difficulty has increased by 4...
65    Ask HN: Enter market with a well-funded compet...
66             Aggregated reviews for iPad Pro 9.7 inch
67    Analysis of 114 propaganda sources from ISIS, ...
68    Apply HN: Hostable, Reskinnable, Domainable, S...
Name: title, Length: 69, dtype: object

In [6]:
hacks["created_at"]=pd.to_datetime(hacks["created_at"])

In [7]:
ask = hacks['title'].str.lower().str.startswith('ask hn')
show = hacks['title'].str.lower().str.startswith('show hn')
apply = hacks['title'].str.lower().str.startswith('apply hn')
how = hacks['title'].str.lower().str.startswith('how')

In [8]:
hacks[ask] # boolean indexing to find "ASK HN"

,id,title,url,num_points,num_comments,author,created_at
7,12296411,Ask HN: How to improve my personal website?,NaN,2,6,ahmedbaracat,2016-08-16 09:55:00
17,10610020,Ask HN: Am I the only one outraged by Twitter ...,NaN,28,29,tkfx,2015-11-22 13:43:00
22,11610310,Ask HN: Aby recent changes to CSS that broke m...,NaN,1,1,polskibus,2016-05-02 10:14:00
30,12210105,Ask HN: Looking for Employee #3 How do I do it?,NaN,1,3,sph130,2016-08-02 14:20:00
31,10394168,Ask HN: Someone offered to buy my browser exte...,NaN,28,17,roykolak,2015-10-15 16:38:00
...,...,...,...,...,...,...,...
20039,10994357,Ask HN: Is it feasible to port Apple's Swift t...,NaN,3,17,schappim,2016-01-29 09:42:00
20042,12241954,Ask HN: What to do when a developer goes dark?,NaN,3,3,bittysdad,2016-08-07 12:58:00
20045,12029526,Ask HN: Killer app for AR?,NaN,2,2,davidiach,2016-07-04 08:50:00
20048,11227969,Ask HN: How do you balance a serious relations...,NaN,10,4,audace,2016-03-05 01:25:00
20061,11743946,Ask HN: Why are papers still published as PDFs?,NaN,4,2,adius,2016-05-21 09:22:00

In [9]:
hacks[apply]

,id,title,url,num_points,num_comments,author,created_at
43,11441625,"Apply HN: CreatorsNest On-Demand, Private Wor...",NaN,5,6,LYeo,2016-04-06 20:10:00
68,11443427,"Apply HN: Hostable, Reskinnable, Domainable, S...",NaN,3,5,andy_ppp,2016-04-07 00:00:00
258,11444312,Apply HN: Hire neighborhood students to do you...,http://www.runnr.ca,2,1,studentrunnr,2016-04-07 02:45:00
479,11441963,Apply HN: Dribblr app to organize pickup sports,NaN,9,5,myroon5,2016-04-06 20:47:00
722,11446120,Apply HN: 128Highstreet A Trip Planning App,NaN,2,8,Sreyanth,2016-04-07 10:11:00
...,...,...,...,...,...,...,...
18772,11446568,Apply HN: CFC.io free calls to any numbers,NaN,2,4,vinogradov,2016-04-07 12:08:00
18961,11501823,Apply HN: The ParaWing Parasailing Meets Hang...,NaN,3,5,6stringmerc,2016-04-15 03:07:00
19017,11446818,Apply HN: Browsed Make Sharing Obsolete,NaN,2,5,SITZ,2016-04-07 12:56:00
19263,11445956,Apply HN: FORUM A public conversation app,NaN,2,10,jaktran,2016-04-07 09:31:00
19552,11535695,Apply HN: WiseGuy Solving a problem of most Ha...,https://medium.com/@ApplyHN/apply-hn-wiseguy-s...,57,34,abhi3,2016-04-20 16:44:00

In [10]:
hacks[show]

,id,title,url,num_points,num_comments,author,created_at
13,10627194,Show HN: Wio Link ESP8266 Based Web of Things...,https://iot.seeed.cc,26,22,kfihihc,2015-11-25 14:03:00
39,10646440,Show HN: Something pointless I made,http://dn.ht/picklecat/,747,102,dhotson,2015-11-29 22:46:00
46,11590768,"Show HN: Shanhu.io, a programming playground p...",https://shanhu.io,1,1,h8liu,2016-04-28 18:05:00
84,12178806,Show HN: Webscope Easy way for web developers...,http://webscopeapp.com,3,3,fastbrick,2016-07-28 07:11:00
97,10872799,Show HN: GeoScreenshot Easily test Geo-IP bas...,https://www.geoscreenshot.com/,1,9,kpsychwave,2016-01-09 20:45:00
...,...,...,...,...,...,...,...
19993,11222099,Show HN: Geocoding API built with government o...,https://latlon.io,6,6,evanmarks,2016-03-04 04:50:00
19999,11735438,Show HN: Decorating: Animated pulsed for your ...,https://github.com/ryukinix/decorating,3,1,lerax,2016-05-20 03:48:00
20014,10200913,Show HN: Idea to startup,https://ideatostartup.org,14,17,nikhildaga,2015-09-10 22:17:00
20065,11444393,"Show HN: PhantomJsCloud, Headless Browser SaaS",https://PhantomJsCloud.com,2,1,novaleaf,2016-04-07 03:04:00
20070,12149183,Show HN: Parse recipe ingredients using JavaSc...,https://github.com/herkyl/ingredients-parser,6,2,zongitsrinzler,2016-07-23 11:35:00

In [11]:
hacks[how]

,id,title,url,num_points,num_comments,author,created_at
1,10975351,How to Use Open Source and Shut the Fuck Up at...,http://hueniverse.com/2016/01/26/how-to-use-op...,39,10,josep2,2016-01-26 19:30:00
15,12335860,How often to update third party libraries?,NaN,7,5,rabid_oxen,2016-08-22 12:37:00
50,10184716,How to write a great error message,https://medium.com/@thomasfuchs/how-to-write-a...,19,2,tomkwok,2015-09-08 09:23:00
132,10294855,How do I provide value to my startup as a non-...,http://www.kilometer.io/blog/how-do-i-provide-...,1,1,alex_flom,2015-09-29 06:13:00
135,10684317,How to Satisfy the Worlds Surging Appetite for...,http://www.wsj.com/articles/how-to-satisfy-the...,38,71,prostoalex,2015-12-06 03:38:00
...,...,...,...,...,...,...,...
19879,10443354,How can I get my DeLorean to 88 miles per hour...,http://worldbuilding.stackexchange.com/questio...,5,3,chris_wot,2015-10-24 12:12:00
19997,12375190,How can I become a AAA programmer?,NaN,4,2,truth_sentinell,2016-08-28 03:33:00
20020,10865817,How Amazon Outflanked Netflix,https://medium.com/@iamziad/how-amazon-outflan...,38,57,ziszis,2016-01-08 16:06:00
20095,12379592,How Purism Avoids Intels Active Management Tec...,https://puri.sm/philosophy/how-purism-avoids-i...,10,6,AdmiralAsshat,2016-08-29 02:22:00
20098,10739875,How Product Hunt really works,https://medium.com/@benjiwheeler/how-product-h...,695,222,brw12,2015-12-15 19:32:00

In [12]:
ask_post=hacks[ask]
show_post=hacks[show]
apply_post=hacks[apply]
how_post=hacks[how]

In [13]:
ask_post # created ask_post DATAFRAME

,id,title,url,num_points,num_comments,author,created_at
7,12296411,Ask HN: How to improve my personal website?,NaN,2,6,ahmedbaracat,2016-08-16 09:55:00
17,10610020,Ask HN: Am I the only one outraged by Twitter ...,NaN,28,29,tkfx,2015-11-22 13:43:00
22,11610310,Ask HN: Aby recent changes to CSS that broke m...,NaN,1,1,polskibus,2016-05-02 10:14:00
30,12210105,Ask HN: Looking for Employee #3 How do I do it?,NaN,1,3,sph130,2016-08-02 14:20:00
31,10394168,Ask HN: Someone offered to buy my browser exte...,NaN,28,17,roykolak,2015-10-15 16:38:00
...,...,...,...,...,...,...,...
20039,10994357,Ask HN: Is it feasible to port Apple's Swift t...,NaN,3,17,schappim,2016-01-29 09:42:00
20042,12241954,Ask HN: What to do when a developer goes dark?,NaN,3,3,bittysdad,2016-08-07 12:58:00
20045,12029526,Ask HN: Killer app for AR?,NaN,2,2,davidiach,2016-07-04 08:50:00
20048,11227969,Ask HN: How do you balance a serious relations...,NaN,10,4,audace,2016-03-05 01:25:00
20061,11743946,Ask HN: Why are papers still published as PDFs?,NaN,4,2,adius,2016-05-21 09:22:00

In [14]:
ask_post.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1744 entries, 7 to 20061
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            1744 non-null   int64
 1   title         1744 non-null   object
 2   url           7 non-null      object
 3   num_points    1744 non-null   int64
 4   num_comments  1744 non-null   int64
 5   author        1744 non-null   object
 6   created_at    1744 non-null   datetime64[ns]
dtypes: datetime64[ns](1), int64(3), object(3)
memory usage: 109.0+ KB

In [15]:
ask_post["hour"]=ask_post["created_at"].dt.hour # created a column in Dataframe

C:\Users\KING\AppData\Local\Temp\ipykernel_8640\1962895371.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  ask_post["hour"]=ask_post["created_at"].dt.hour # created a column in Dataframe

In [16]:
ask_post

,id,title,url,num_points,num_comments,author,created_at,hour
7,12296411,Ask HN: How to improve my personal website?,NaN,2,6,ahmedbaracat,2016-08-16 09:55:00,9
17,10610020,Ask HN: Am I the only one outraged by Twitter ...,NaN,28,29,tkfx,2015-11-22 13:43:00,13
22,11610310,Ask HN: Aby recent changes to CSS that broke m...,NaN,1,1,polskibus,2016-05-02 10:14:00,10
30,12210105,Ask HN: Looking for Employee #3 How do I do it?,NaN,1,3,sph130,2016-08-02 14:20:00,14
31,10394168,Ask HN: Someone offered to buy my browser exte...,NaN,28,17,roykolak,2015-10-15 16:38:00,16
...,...,...,...,...,...,...,...,...
20039,10994357,Ask HN: Is it feasible to port Apple's Swift t...,NaN,3,17,schappim,2016-01-29 09:42:00,9
20042,12241954,Ask HN: What to do when a developer goes dark?,NaN,3,3,bittysdad,2016-08-07 12:58:00,12
20045,12029526,Ask HN: Killer app for AR?,NaN,2,2,davidiach,2016-07-04 08:50:00,8
20048,11227969,Ask HN: How do you balance a serious relations...,NaN,10,4,audace,2016-03-05 01:25:00,1
20061,11743946,Ask HN: Why are papers still published as PDFs?,NaN,4,2,adius,2016-05-21 09:22:00,9

In [17]:
avg_comnt_ask =ask_post.pivot_table(index='hour',values='num_comments',aggfunc='mean')
avg_comnt_ask # recorded comments on hourly basis

      num_comments
hour
0         8.127273
1        11.383333
2        23.810345
3         7.796296
4         7.170213
5        10.086957
6         9.022727
7         7.852941
8        10.250000
9         5.577778
10       13.440678
11       11.051724
12        9.410959
13       14.741176
14       13.233645
15       38.594828
16       16.796296
17       11.460000
18       13.201835
19       10.800000
20       21.525000
21       16.009174
22        6.746479
23        7.985294

In [18]:
top_ask_hour=avg_comnt_ask.sort_values("num_comments",ascending=False)#sorted values as par to
top_5_ask_hour=top_ask_hour.head()#getting most comments in one hour
top_5_ask_hour

      num_comments
hour
15       38.594828
2        23.810345
20       21.525000
16       16.796296
21       16.009174

In [19]:
show_post["hour"]=show_post["created_at"].dt.hour 
how_post["hour"]=how_post["created_at"].dt.hour
apply_post["hour"]=apply_post["created_at"].dt.hour

C:\Users\KING\AppData\Local\Temp\ipykernel_8640\2826425811.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  show_post["hour"]=show_post["created_at"].dt.hour
C:\Users\KING\AppData\Local\Temp\ipykernel_8640\2826425811.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  how_post["hour"]=how_post["created_at"].dt.hour
C:\Users\KING\AppData\Local\Temp\ipykernel_8640\2826425811.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  apply_post["hour"]=apply_post["created_at"].dt.hour

In [20]:
avg_comnt_show =show_post.pivot_table(index='hour',values='num_comments')
avg_comnt_how =how_post.pivot_table(index='hour',values='num_comments')
avg_comnt_apply =apply_post.pivot_table(index='hour',values='num_comments')

In [21]:
top_show_hour=avg_comnt_show.sort_values("num_comments",ascending=False)
top_5_show_hour=top_show_hour.head()
top_5_show_hour

      num_comments
hour
18       15.770492
0        15.709677
14       13.441860
23       12.416667
22       12.391304

In [22]:
top_how_hour=avg_comnt_how.sort_values("num_comments",ascending=False)
top_5_how_hour=top_how_hour.head()
top_5_how_hour

      num_comments
hour
11       47.000000
15       43.790698
1        37.772727
14       32.300000
17       31.509804

In [23]:
top_apply_hour=avg_comnt_apply.sort_values("num_comments",ascending=False)
top_5_apply_hour=top_apply_hour.head()
top_5_apply_hour

      num_comments
hour
8        26.000000
23       21.500000
7        16.000000
15       15.333333
22       13.000000